*.asm
*.bin
*.elf
*.ihx
*.cdb
*.lk
*.map
*.adb
*.lst
*.rel
*.rst
*.sym
StdPeriphLib/src/*.asm
StdPeriphLib/src/*.bin
StdPeriphLib/src/*.elf
StdPeriphLib/src/*.ihx
StdPeriphLib/src/*.cdb
StdPeriphLib/src/*.lk
StdPeriphLib/src/*.map
StdPeriphLib/src/*.adb
StdPeriphLib/src/*.lst
StdPeriphLib/src/*.rel
StdPeriphLib/src/*.rst
StdPeriphLib/src/*.sym
Debug

Result.log
